//urls
$url_0: url(../elementos/font/UrbanJungleDEMO.otf);
$url_1: url(../elementos/font/Odachi.woff);
$url_2: url(../elementos/font/Typo\ Oxin\ free\ promo.ttf);
$url_3: url(../elementos/font/Merriweather-Light.otf);
$url_4: url(../elementos/img/044.jpg);
$url_5: url(../elementos/img/sakuras.jpg);
$url_6: url(../elementos/img/m4a1.jpg);
$url_7: url(../elementos/img/vaquero.jpg);
$url_8: url(../elementos/img/heroico.jpg);